<h1>
  {{title}}
</h1>
<datasharing-child></datasharing-child>
<!--smaple examples-->
<!--<hr>
<div id="parent-to-child-on-changes">
  <version-parent></version-parent>
</div>

<hr>
<div id="child-to-parent">
  <vote-taker></vote-taker>
</div>
<hr>

<div id="bidirectional-service">
  <mission-control></mission-control>
</div>
<hr>-->
<!--sample examples end here-->


<!--pipes-->
<hero-birthday2></hero-birthday2>

  <hr>
<a id="birthday-pipe-chaining"></a>
<h2>Birthday Pipe Chaining</h2>
<p>
  The chained hero's birthday is
  {{ birthday | date | uppercase}}
</p>


<hr>
<a id="power-boost-calc"></a>
<power-boost-calculator>loading</power-boost-calculator>

<!--pipes end-->
